*.asv
*.png
*.txt
.*.m
._*
*.mat
Miscellaneous/*DS_Store
IC_zero.xlsx
Miscellaneous/dust_with_AF_internal_Si_Al_only.m
.DS_Store
Miscellaneous/F_Process_MasterFiles_INDH_only.m
UtilityFunctions/Received_by_OpenAQ_localtime_archive.csv
